<header>Account info</header>
<h2>User: {{ userName }}</h2>
<main class="atm-account__main">
  <div class="atm-account__main-item">
    <button mat-raised-button color="primary" (click)="getCurrentBalance()">
      Get Current Balance
    </button>
    <span>Balance: {{ balance }}</span>
  </div>
  <div class="atm-account__main-item">
    <input type="number" placeholder="amount" #moneyGetAmount />
    <button
      mat-raised-button
      color="primary"
      (click)="getMoney(+moneyGetAmount.value)"
    >
      Get money
    </button>
  </div>
  <div class="atm-account__main-item">
    <input type="number" placeholder="amount" #moneyPutAmount />
    <button
      mat-raised-button
      color="primary"
      (click)="putMoney(+moneyPutAmount.value)"
    >
      Put money
    </button>
  </div>
</main>

<footer class="atm-account__footer">
  <button (click)="goToHomePage()" mat-raised-button>Go to home page</button>
</footer>
<div *ngIf="isLoading$ | async" class="atm__spinner-wrap">
  <mat-spinner></mat-spinner>
</div>
