.author-page__image {
  width: 30rem;
  height: 50rem;
}

.author-page__card {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
