<mat-card class="author-page__card">
  <mat-card-header>
    <mat-card-title>Greogry</mat-card-title>
    <mat-card-subtitle>Meat Pants</mat-card-subtitle>
  </mat-card-header>
  <img
    class="author-page__image"
    mat-card-image
    src="../../../assets/images/gregoryMeatPants.png"
    alt="Photo of Gregory"
  />
  <mat-card-content>
    <p>Fucking amazing front-end green-hair engineer.</p>
    <a href="https://github.com/EgorSasim">github</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="responseToLike()">LIKE</button>
  </mat-card-actions>
</mat-card>
